{#
/**
 * @file
 * Default theme implementation of a color swatch.
 *
 * Available variables:
 * - color: The color background.
 * - width: The width of the color swatch.
 * - height: The height of the color swatch.
 *
 * @see template_preprocess()
 * @see template_preprocess_color_field_swatch()
 * @see template_preprocess_link_formatter_link_separate()
 *
 * @ingroup themeable
 */
#}

<div style="background-color: {{ color }}; width: {{ width }}px; height: {{ height }}px;"></div>
